@media (prefers-color-scheme: light) {
  :root {
    --ref-palette-primary0: 0, 0, 0;
    --ref-palette-primary10: 23, 0, 101;
    --ref-palette-primary20: 42, 0, 159;
    --ref-palette-primary25: 53, 9, 184;
    --ref-palette-primary30: 65, 35, 195;
    --ref-palette-primary35: 77, 52, 206;
    --ref-palette-primary40: 89, 67, 219;
    --ref-palette-primary50: 115, 95, 245;
    --ref-palette-primary60: 142, 127, 255;
    --ref-palette-primary70: 170, 160, 255;
    --ref-palette-primary80: 199, 191, 255;
    --ref-palette-primary90: 228, 223, 255;
    --ref-palette-primary95: 243, 238, 255;
    --ref-palette-primary98: 252, 248, 255;
    --ref-palette-primary99: 255, 251, 255;
    --ref-palette-primary100: 255, 255, 255;
    --ref-palette-secondary0: 0, 0, 0;
    --ref-palette-secondary10: 27, 25, 44;
    --ref-palette-secondary20: 48, 46, 65;
    --ref-palette-secondary25: 60, 57, 77;
    --ref-palette-secondary30: 71, 68, 89;
    --ref-palette-secondary35: 83, 80, 101;
    --ref-palette-secondary40: 95, 92, 113;
    --ref-palette-secondary50: 120, 116, 139;
    --ref-palette-secondary60: 146, 142, 165;
    --ref-palette-secondary70: 173, 168, 192;
    --ref-palette-secondary80: 200, 195, 220;
    --ref-palette-secondary90: 229, 223, 249;
    --ref-palette-secondary95: 243, 238, 255;
    --ref-palette-secondary98: 252, 248, 255;
    --ref-palette-secondary99: 255, 251, 255;
    --ref-palette-secondary100: 255, 255, 255;
    --ref-palette-tertiary0: 0, 0, 0;
    --ref-palette-tertiary10: 48, 17, 33;
    --ref-palette-tertiary20: 72, 37, 55;
    --ref-palette-tertiary25: 84, 48, 66;
    --ref-palette-tertiary30: 97, 59, 77;
    --ref-palette-tertiary35: 110, 71, 89;
    --ref-palette-tertiary40: 123, 82, 101;
    --ref-palette-tertiary50: 150, 106, 126;
    --ref-palette-tertiary60: 178, 132, 152;
    --ref-palette-tertiary70: 207, 158, 179;
    --ref-palette-tertiary80: 236, 184, 206;
    --ref-palette-tertiary90: 255, 216, 231;
    --ref-palette-tertiary95: 255, 236, 242;
    --ref-palette-tertiary98: 255, 248, 248;
    --ref-palette-tertiary99: 255, 251, 255;
    --ref-palette-tertiary100: 255, 255, 255;
    --ref-palette-neutral0: 0, 0, 0;
    --ref-palette-neutral4: 14, 14, 17;
    --ref-palette-neutral6: 20, 19, 22;
    --ref-palette-neutral10: 28, 27, 31;
    --ref-palette-neutral12: 32, 31, 35;
    --ref-palette-neutral17: 42, 41, 45;
    --ref-palette-neutral20: 49, 48, 52;
    --ref-palette-neutral22: 53, 52, 56;
    --ref-palette-neutral25: 60, 59, 63;
    --ref-palette-neutral30: 72, 70, 74;
    --ref-palette-neutral35: 83, 82, 86;
    --ref-palette-neutral40: 96, 93, 98;
    --ref-palette-neutral50: 121, 118, 122;
    --ref-palette-neutral60: 146, 144, 148;
    --ref-palette-neutral70: 173, 170, 175;
    --ref-palette-neutral80: 201, 197, 202;
    --ref-palette-neutral87: 221, 217, 221;
    --ref-palette-neutral90: 229, 225, 230;
    --ref-palette-neutral92: 235, 231, 236;
    --ref-palette-neutral94: 241, 236, 241;
    --ref-palette-neutral95: 244, 239, 244;
    --ref-palette-neutral96: 247, 242, 247;
    --ref-palette-neutral98: 252, 248, 253;
    --ref-palette-neutral99: 255, 251, 255;
    --ref-palette-neutral100: 255, 255, 255;
    --ref-palette-neutral-variant0: 0, 0, 0;
    --ref-palette-neutral-variant10: 28, 27, 34;
    --ref-palette-neutral-variant20: 49, 47, 56;
    --ref-palette-neutral-variant25: 60, 58, 67;
    --ref-palette-neutral-variant30: 71, 70, 79;
    --ref-palette-neutral-variant35: 83, 81, 90;
    --ref-palette-neutral-variant40: 95, 93, 102;
    --ref-palette-neutral-variant50: 120, 118, 127;
    --ref-palette-neutral-variant60: 146, 143, 153;
    --ref-palette-neutral-variant70: 173, 169, 180;
    --ref-palette-neutral-variant80: 201, 197, 208;
    --ref-palette-neutral-variant90: 229, 225, 236;
    --ref-palette-neutral-variant95: 244, 239, 250;
    --ref-palette-neutral-variant98: 252, 248, 255;
    --ref-palette-neutral-variant99: 255, 251, 255;
    --ref-palette-neutral-variant100: 255, 255, 255;
    --ref-palette-error0: 0, 0, 0;
    --ref-palette-error10: 65, 0, 2;
    --ref-palette-error20: 105, 0, 5;
    --ref-palette-error25: 126, 0, 7;
    --ref-palette-error30: 147, 0, 10;
    --ref-palette-error35: 168, 7, 16;
    --ref-palette-error40: 186, 26, 26;
    --ref-palette-error50: 222, 55, 48;
    --ref-palette-error60: 255, 84, 73;
    --ref-palette-error70: 255, 137, 125;
    --ref-palette-error80: 255, 180, 171;
    --ref-palette-error90: 255, 218, 214;
    --ref-palette-error95: 255, 237, 234;
    --ref-palette-error98: 255, 248, 247;
    --ref-palette-error99: 255, 251, 255;
    --ref-palette-error100: 255, 255, 255;
  }
}
